<div class="card bg-blue-100 m-5 p-3 pb-5 flex flex-col justify-between">
    <div class="flex gap-4">
        <div class="w-1/4">
            <video class="rounded-lg" src="assets/video/trailer.mp4" controls muted></video>
        </div>
        <div class="w-3/4 flex gap-3">
            <span class="pl-5 flex flex-col justify-center gap-3">
                <p class="font-semibold text-2xl tracking-high">INOX City Centre</p>
                <p>PVR INOX Limited., City Centre, DC-1, Sector-1, Salt Lake Kolkata - 700064, West Bengal
                </p>
            </span>
            <img class="h-24" src="assets/template/star.jpg" alt="movies">
            <span class="flex flex-col gap-2 items-start">
                <p class="font-semibold text-xl tracking-low">Film Name</p>
                <p class="font-semibold text-sm tracking-low">Writer</p>
                <p class="font-semibold text-lg tracking-low">Rating</p>
            </span>

        </div>
    </div>
    <div class="bg-slate-100 rounded-box mt-4">
        <p class="font-semibold text-2xl tracking-low pb-2 pl-6 m">Now Showing</p>
        <div class="carousel carousel-center p-4 space-x-4">
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div><div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
            <div class="carousel-item flex flex-col bg-blue-200 rounded-box">
                <img src="assets/template/star.jpg" class="rounded-box w-40" />
                <p class="font-extrabold text-center text-blue-950 tracking-mid pt-2 pb-2">Star War</p>
            </div>
        </div>
    </div>
</div>