<div class="w-screen h-56 bg-black flex flex-col justify-end">
  <div class="h-5 w-screen">
    <p class="font-sans text-lg text-white flex justify-center">
      This is CSE final project of &nbsp;
      <span
        ><a href="https://rkmscc.org/software_applications_programming.html"
          >RKMSCC</a
        ></span
      >
    </p>
  </div>
  <div class="flex flex-row justify-between items-center">
    <div class="h-fit">
      <div class="text-stone-100 flex flex-col m-10 justify-start">
        <div class="flex flex-row items-center">
          <span class="ml-6 border-b-[1px] border-b-white">
            2024 All right reserved</span
          >
        </div>
        <div
          title="all right reserved by Sayan Das"
          class="flex flex-row justify-center my-2"
        >
          <span class="material-symbols-outlined"> copyright </span
          ><span>&nbsp;&nbsp;</span><span>Sayan Das</span>
        </div>
        <div
          title="all right reserved by Arnab Kumar Das"
          class="flex flex-row justify-center"
        >
          <span class="material-symbols-outlined"> copyright </span
          ><span>&nbsp;&nbsp;</span><span>Arnab Kumar Das</span>
        </div>
        <div
          title="all right reserved by Rishav Saha"
          class="flex flex-row justify-center my-2"
        >
          <span class="material-symbols-outlined"> copyright </span
          ><span>&nbsp;&nbsp;</span><span>Rishav Saha</span>
        </div>
      </div>
    </div>
    <div class="h-fit w-fit p-2">
      <div class="flex flex-row items-center">
        <span class="text-slate-500">Certification by:</span>
        <div class="flex flex-row items-center gap-3 ml-3">
          <img
            class="w-16 rounded-full bg-white"
            src="https://www.svgviewer.dev/static-svgs/14677/vercel-icon.svg"
            alt="Vercel"
          />
          <span class="text-white text-2xl">Vercel</span>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row justify-center items-center mr-6 text-slate-500 text-sm gap-4"
    >
      <p class="hover:text-white">Privacy Policy</p>
      <p class="hover:text-white">Terms <span> &amp;</span> Condition</p>
      <p class="hover:text-white">Terms Of Use</p>
    </div>
  </div>
</div>
