<section class="bg-white">
  <div class="flex flex-row  bg-gray-300 text h-10">
    <!-- breadcrumb -->
    <nav class="flex" aria-label="Breadcrumb">
        <ol  
          class="bread-nav inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse"
        >
          <li class="inline-flex items-center" aria-current="page">
            <a
              href="#"
              class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
            >
              <!-- <li class="inline-flex items-center" aria-current="page">
                <a
                  href="#"
                  class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
                >
                  <span class="material-symbols-outlined"> arrow_back </span>
                </a> -->
              
              Back
            </a>
          </li>
          <li class="inline-flex items-center" aria-current="page">
            <a
              href="#"
              class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white"
            >
              <svg
                class="w-3 h-3 me-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
              >
                <path
                  d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
                />
              </svg>
              Home
            </a>
          </li>
          <li aria-current="page">
            <div class="flex items-center w-fit">
              <svg
                class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <a
                href="#"
                class="w-fit ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white"
                >select seats</a
              >
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg
                class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <span
                class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400"
                >payment</span
              >
            </div>
          </li>
        </ol>
      </nav>
    



    
  </div>
    <div class="flex flex-row gap-x-5">
      <!-- dropdown -->
  <div class="time-drop dropdown dropdown-hover border-r-2">
    <div tabindex="0" role="button" class="w-52 hover:bg-white  btn btn-ghost m-1 ">24 fab, Saturday </div>
    <ul tabindex="0" class="dropdown-content z-[1] menu  shadow bg-base-100 rounded-box ">
      <li class="btn hover:bg-white border-none w-52 -m-3">24 fab, Saturday</li>
      <li class="btn hover:bg-white border-none w-52 -m-3">24 fab, Sunday </li>
    </ul>
  </div>
  <!-- tabs -->
  <div role="tablist" class=" tabs tabs-bordered tabs-lg gap-3">
    <a role="tab" class=" tab">Tab 1</a>
    <a role="tab" class=" tab tab-active">Tab 2</a>
    <a role="tab" class="tab">Tab 3</a>
  </div>
</div>

</section>
