<div class="navbar py-0 border-b-2 top-0 z-0">
  <div class="flex-none">
    <!-- Title -->
    <a class="btn btn-ghost text-3xl hover:bg-base-100" routerLink="/">INOX</a>
  </div>
  <div class="flex-1 basis-1/3 flex flex-row gap-3 w-fit px-1 py-0">
    <!-- navigation buttons -->
    <a routerLink="home" class="btn bg-base-100 border-none shadow-none">
      <img src="/assets/home-icon.png" alt="" class="w-5" />
      Home</a
    >
    <a routerLink="showtimes" class="btn bg-base-100 border-none shadow-none">
      <img src="/assets/ticket-icon.png" alt="" class="w-5" />
      Showtimes</a
    >
    <a routerLink="cinemas" class="btn bg-base-100 border-none shadow-none">
      <img src="/assets/movie-icon.png" alt="" class="w-5" />
      Cinemas</a
    >
    <a routerLink="offers" class="btn bg-base-100 border-none shadow-none">
      <img src="/assets/percent-icon.png" alt="" class="w-5" />
      Offers</a
    >
  </div>

  <div class="flex-none">
    <!-- search box -->
    <label class="input input-bordered flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-5 h-5 text-black opacity-70"
      >
        <path
          fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd"
        />
      </svg>
      <input
        type="text"
        class="grow border-transparent focus:border-transparent focus:ring-0"
        placeholder="Search"
      />
    </label>
  </div>
  <div class="flex-none w-[20%] flex flex-row justify-evenly">
    <div class="dropdown dropdown-end">
      <div class="drawer drawer-end bg-none">
        <!-- location toggle -->
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content mx-2">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle bg-base-100 hover:bg-base-100"
          >
            <label
              for="my-drawer-4"
              class="drawer-button btn border-none shadow-none bg-slate-200 hover:bg-slate-200"
            >
              <div class="indicator">
                <img src="/assets/location_on.svg" alt="" />
              </div>
              location
            </label>
          </div>
        </div>
        <div class="drawer-side z-20">
          <!-- location drawer -->
          <label
            for="my-drawer-4"
            aria-label="close sidebar"
            class="drawer-overlay"
          ></label>
          <ul
            class="menu p-4 w-80 min-h-full bg-base-200 text-base-content overflow-y-scroll"
          >
            <!-- Sidebar content here -->
            <li class="">
              <div class="card card-action shadow">
                <img
                  class="h-40 w-32 rounded object-cover"
                  src="https://media.istockphoto.com/id/1196338454/photo/view-of-howrah-bridge-from-burrabazar.jpg?s=612x612&w=0&k=20&c=3AlWNFhMfZpWOTuaNh47P5ojeQyAbQhMpf3kpj3itUU="
                  alt=""
                />
                <div class="p-2 mx-auto">
                  <p class="card-title text-center">kolkata</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dropdown" (click)="createEvent()">
      <div
        tabindex="0"
        role="button"
        class="btn bg-slate-200 hover:bg-slate-200 hover:border-none border-none z-0"
      >
        <img
          class="avatar rounded-full w-5"
          alt="Tailwind CSS Navbar component"
          src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
        />
        login
      </div>
    </div>
  </div>
</div>
