<div class="m-3">
    <div tabindex="0" class="collapse collapse-plus border border-base-300 bg-red-50">
        <div class="collapse-title flex gap-4">
            <img src="assets/template/star.jpg" alt="" class="h-20 rounded-lg">
            <span class="flex flex-col gap-2">
                <p class="font-anta text-xl tracking-highmid">Star Wars</p>
                <p class="text- font-semibold tracking-low">Inox City Centre II</p>
            </span>
        </div>
        <div class="collapse-content">
            <app-date-time></app-date-time>
        </div>
    </div>
</div>