<div class="bg-white dark:bg-gray-800 dark:border-gray-700 w-fit rounded-none">
  <a href="#">
    <img class="w-[208px] object-cover" src="/assets/movie/movie1.jpg" alt="" />
  </a>
  <div class="pb-5 pt-3 px-0 max-w-[205px]">
    <a href="#">
      <h5 class="mb-1 font-bold tracking-tight text-gray-900 dark:text-white">
        Movie Name
      </h5>
    </a>
    <p class="text-sm text-slate-500 overflow-hidden truncate">
      <span class="text-lg">U/A</span
      ><span class="text-slate-400"> &square; </span> Drama this is a long long
      text
    </p>
    <p class="text-xs text-slate-400">Hindi</p>

    <div class="flex flex-row justify-between">
      <a
        href="#"
        class="inline-flex items-center mt-1 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Book Tickets
      </a>

      <a
        href="#"
        class="btn rounded bg-white hover:bg-blue-700 hover:text-white"
      >
        <span class="material-symbols-outlined"> info </span>
      </a>
    </div>
  </div>
</div>
