<div class="bg-blue-300 m-0 flex justify-between px-10 w-full pt-8 pb-3">
    <span class="w-2/4 font-semibold text-4xl cursor-pointer">Cinemas</span>
    <span class="w-2/4 flex flex-col">
        <p class="font-extrabold text-sm tracking-high pb-2 w-full text-center">Experiences</p>
        <div class="flex justify-between w-full">
            <span class="font-semibold h-full w-1/4 text-center flex justify-center items-center bg-slate-800 p-3 rounded text-white hover:bg-blue-400 hover:text-black hover:cursor-pointer">iMAX</span>
            <span class="font-semibold h-full w-1/4 text-center flex justify-center items-center bg-slate-800 p-3 rounded text-white hover:bg-blue-400 hover:text-black hover:cursor-pointer">INSINIYA</span>
            <span class="font-semibold h-full w-1/4 text-center flex justify-center items-center bg-slate-800 p-3 rounded text-white hover:bg-blue-400 hover:text-black hover:cursor-pointer">LASER</span>
        </div>
    </span>    
</div>
<app-halls></app-halls>
<app-halls></app-halls>
<app-halls></app-halls>
