<div class="mt-2 bg-slate-50 p-2 rounded-lg flex gap-3">    
    <div class="bg-red-200 border-2 border-red-300 rounded-lg px-5 flex flex-col justify-center items-center hover:bg-blue-950 hover:border-blue-950 hover:text-white cursor-pointer">
        <p class="text-center tracking-low">English</p>
        <p class="text-center">09:00 PM </p>
    </div>
    <div class="bg-red-200 border-2 border-red-300 rounded-lg px-5 flex flex-col justify-center items-center hover:bg-blue-950 hover:border-blue-950 hover:text-white cursor-pointer">
        <p class="text-center tracking-low">English</p>
        <p class="text-center">09:00 PM </p>
    </div>
    <div class="bg-red-200 border-2 border-red-300 rounded-lg px-5 flex flex-col justify-center items-center hover:bg-blue-950 hover:border-blue-950 hover:text-white cursor-pointer">
        <p class="text-center tracking-low">English</p>
        <p class="text-center">09:00 PM </p>
    </div>
   
</div>