<div class="my-1">
  <!-- image carousel -->
  <app-image-carousel></app-image-carousel>
</div>
<div class="w-screen flex flex-col justify-center items-center mt-8 bg-white">
  <div class="w-4/5 border-b-gray-400 border-b-4">
    <!-- tabs -->
    <div role="tablist" class="bg-base-100 tabs tabs-boxed w-fit gap-3">
      <a role="tab" class="tab font-semibold text-lg">Now Showing</a>
      <!-- <a role="tab" class="tab font-semibold text-lg tab-active">Coming Soon</a> -->
      <a
        role="tab"
        class="tab font-semibold text-lg tab-active [--tab-bg:blue] text-white"
        >Coming Soon</a
      >
      <a role="tab" class="tab font-semibold text-lg">Experiences</a>
      <a role="tab" class="tab font-semibold text-lg">Trailers</a>
      <a role="tab" class="tab font-semibold text-lg">Offers</a>
    </div>
  </div>
  <div class="w-4/5 py-2">
    <button class="btn bg-none hover:bg-none">IMAX</button>
    <button class="btn bg-none hover:bg-none mx-5">INSIGNIA</button>
    <button class="btn bg-none hover:bg-none">LASER</button>
  </div>
  <div class="flex flex-row justify-between w-4/5">
    <h1 class="text-2xl font-semibold mt-5">Now Showing</h1>
    <form>
      <select title="lang" name="geners" class="select rounded-md mx-1 bg-slate-300">
        <option value="" selected>All Geners</option>
        <option value="">All Geners</option>
        <option value="">All Geners</option>
        <option value="">All Geners</option>
      </select>
      <select title="lang" name="language" class="select rounded-md mx-1 bg-slate-300">
        <option value="" selected>All Language</option>
        <option value="">All Geners</option>
        <option value="">All Geners</option>
        <option value="">All Geners</option>
      </select>
    </form>
  </div>

  <!-- list of movies avaliable now -->
  <div
    class="w-4/5 h-fit py-6 flex flex-row flex-wrap gap-y-6 gap-x-3 relative"
  >
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
    <app-movie-card></app-movie-card>
  </div>
</div>

<div
  class="w-screen flex flex-col justify-center items-center mt-8 bg-slate-100"
>
  <div class="w-4/5">
    <div class="flex justify-between py-4">
      <h1 class="text-2xl font-semibold mt-5">Coming Soon</h1>
      <div class="join">
        <button class="join-item btn">«</button>
        <button class="join-item btn mx-1">»</button>
        <button class="join-item btn">
          See All
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex flex-row gap-x-3 pb-4">
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
      <app-movie-card></app-movie-card>
    </div>
  </div>
</div>
